#same{
    color: dodgerblue;
}
.food{
    color: blue;
}
#one{
    color: rgb(252, 103, 3);
}
.dal{
    color:#013c59;
}
.two{
    color: darkgreen;
}
.three{
    color: darkmagenta;
}
.four{
    color: #550159;
}
.five{
    color: #006400;
}
.six{
    color: #f54287;
}
.seven{
    color: seagreen;
}
.eight{
    color: red;
}
.nine{
    color: crimson
}
.ten{
    color: darkslategray;
}
.eleven{
    color: maroon;
}
#a{
    background-color: khaki;
}
#same{
    background-color: rgb(211, 229, 253);
}
#xyz{
    background-color: #e3ffad;
}
#abc{
    background-color: rgb(245, 204, 245);
}